<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penne Places</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header class="header">
        <img src="./images/penneplaces.png" class="header__image left" alt="an image of a noodle with hands" />
        <h1 class="header__title center rainbow_text">Penne Places</h1>
        <nav class="header__navigation right">
          <a href="/about">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
      </header>

      <main class="main row">
        <section class="main__developpers devs col-3">
            <h2 class="section__heading">Dev Team</h2>
            <div id="devs">
                <fieldset>
                    <legend class="fieldset__legend">Jakob Kohler</legend>
                    <a href="https://github.com/JakobKohler">
                        <img src="./images/jakob.jpg" id="kohler"/>
                    </a>
                </fieldset>
                <fieldset>
                    <legend class="fieldset__legend">Moritz Roller</legend>
                    <a href="https://github.com/Mofi202">
                        <img src="./images/moiye.jpg" id="roller"/>
                    </a>
                </fieldset>
                <fieldset>
                    <legend class="fieldset__legend">Nils Matthäi</legend>
                    <a href="https://github.com/nils-matthaei">
                        <img src="./images/nils.jpg" id="matthaei"/>
                    </a>
                </fieldset>            
            </div>
        </section>

        <section class="main__application app col-8">
            <h2 class="section__heading">Penne Places</h2>
            <fieldset>
                <div id="text">
                    <img src="./images/penneplaces.png"/>
                    Penne Places is a web application designed to make geo-tagging a breeze. With Penne Places, you can easily add tags to your current location, allowing you to easily find and discover places in the future. Whether you're exploring a new city, or just trying to remember where you parked your car, Penne Places makes it easy to remember where you've been.<br><br>
                    With Penne Places, you can also discover tags that other users have added to locations near you. Simply select a tag from the list, and Penne Places will show you all of the locations with that tag in your vicinity. This feature is perfect for finding new restaurants, cafes, or shops that you might not have discovered otherwise.<br><br>      
                    Whether you're a frequent traveler, a foodie, or just someone who wants to keep track of the places you've been, Penne Places is the perfect tool for you. With its intuitive interface and powerful search capabilities, Penne Places makes it easy to discover new places and remember old favorites. So why wait? Sign up for Penne Places today and start tagging your favorite places!<br><br>
                    Penne Places is not just a tool for personal use. Businesses can also benefit from using the application by adding tags to their locations, making it easier for customers to find them. For example, a coffee shop owner can tag their location as "coffee", "cafe", or "breakfast", making it easier for people searching for these terms to find their shop. By using Penne Places, businesses can increase their visibility and attract new customers.<br><br> 
                    In addition, Penne Places is a great way to keep track of your travels. Whether you're backpacking through Europe or road tripping across the United States, Penne Places can help you remember all of the places you've been. You can tag your favorite landmarks, restaurants, and attractions, making it easy to look back on your travels and plan future trips.<br><br> 
                    Privacy is also an important feature of Penne Places. Users can choose to make their tags public or private, meaning that they can choose whether or not to share their location information with other users. This feature ensures that users can feel safe and secure when using the application.<br><br> 
                    Overall, Penne Places is an incredibly useful tool for anyone who wants to keep track of their travels or discover new places. With its intuitive interface, powerful search capabilities, and privacy features, Penne Places is the perfect application for anyone who loves to explore the world around them.  
                </div>
            </fieldset>
        </section>
      </main>

      <footer class="footer" id="footer">
        <span>(c) 2023 HKA_IWI_VSYS</span>
        <img src="./images/logo.png" class="footer__image right" />
      </footer>
</body>

</html>
