<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penne Places</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header class="header">
        <img src="./images/infoplaces.png" class="header__image left" alt="an image of a noodle with hands" />
        <h1 class="header__title center rainbow_text">Penne Places</h1>
        <nav class="header__navigation right">
          <a href="/about">About</a> | <a href="/help">Help</a> | <a href="/">Home</a>
        </nav>
      </header>

      <main class="main row">
        <section class="main__faq app col-10">
            <h2 class="section__heading">Frequently Asked Questions</h2>
            <div id="q_and_a">
                <fieldset>
                    <legend class="fieldset__legend">1. How do I add a new geotag?</legend> 
                    <div id="answer">
                        <p>Go to the tagging section on the home page and enter your desired coordinates. If you want to add your current location, you don't need to enter the coordinates, because they are already filled in. After that you need to enter a name that is at the most ten characters long. You can also add an optional hashtag.</p>
                    </div>
                </fieldset>
                <fieldset>    
                    <legend class="fieldset__legend">2. How do I use the discovery section?</legend>
                    <div id="answer">
                        <p>Enter coordinates, a name or a hashtag into to formfield in the discovery section. Then a list of all nearby geotags is plotted and shown on the map.</p>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset__legend">3. What is the story behind Penne Places?</legend>
                    <div id="answer">
                        <p>We have an obsession with pasta - it's that simple.</p>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset__legend">4. How can I store geotags for my next visit?</legend>
                    <div id="answer">
                        <p>We are sorry, but at the moment geotags are only stored within the session and deleted when the page is closed. There is no database behind Penne Places to store any of your own geotags.</p>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset__legend">5. Is there a premium version of Penne Places?</legend>
                    <div id="answer">
                        <p>No, unfortunally we are part of a non-profit association and therefor we are not allowed to take any money for our work.</p>
                    </div>
                </fieldset>
            </div>
        </section>
      </main>

      <footer class="footer" id="footer">
        <span>(c) 2023 HKA_IWI_VSYS</span>
        <img src="./images/logo.png" class="footer__image right" />
      </footer>
</body>

</html>
