<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penne Places</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header class="header">
        <img src="./images/penneplaces.png" class="header__image left" alt="an image of a noodle with hands" />
        <h1 class="header__title center rainbow_text">Penne Places</h1>
        <nav class="header__navigation right">
          <a href="/about">About</a> | <a href="/help">Help</a> | <a href="/">Home</a>
        </nav>
      </header>

      <main class="main row">
        <section class="main__imprint app col-10">
            <h2 class="section__heading">Imprint</h2>
            <div class="imprint_text">
                <p>
                    <b>Penne Places Ltd.</b><br>
                    Moltkestraße 30<br>
                    76133 Karlsruhe<br><br>
                    <b>Contact: </b><a href="moritz.roller@schmoutlook.de">moritz.roller@schmoutlook.de</a><br>
                    <b>Website: </b><a href="https://schmoutlook.eu">www.schmoutlook.eu</a>
                </p>
            </div>

        </section>
      </main>

      <footer class="footer" id="footer">
        <span>(c) 2023 HKA_IWI_VSYS</span>
        <nav class="footer__navigation right">
            <a href="/imprint">Imprint</a> | <a href="/privacy">Privacy policy</a>
        </nav>
        <img src="./images/logo.png" class="footer__image right" />
      </footer>
</body>

</html>
