<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penne Places</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header class="header">
        <img src="./images/penneplaces.png" class="header__image left" alt="an image of a noodle with hands" onclick="window.location = '/'">
        <h1 class="header__title center rainbow_text">Penne Places</h1>
        <nav class="header__navigation right">
          <a href="/about">About</a> | <a href="/help">Help</a> | <a href="/">Home</a>
        </nav>
      </header>

      <main class="main row">
        <section class="main__imprint app col-10">
            <h2 class="section__heading">Privacy Policy</h2>
            <div class="privacy_text">
                <p>
                    <b>Datenschutzerklärung</b><br><br>
                    Wir legen großen Wert auf den Schutz Ihrer personenbezogenen Daten und halten uns daher an die geltenden Datenschutzbestimmungen. In dieser Datenschutzerklärung informieren wir Sie darüber, welche Daten wir erheben, wie wir sie verwenden und welche Rechte Sie in Bezug auf Ihre personenbezogenen Daten haben.<br><br>
                </p> 
                <p>
                    <b>1. Verantwortlicher</b><br><br>
                    Verantwortlicher im Sinne der Datenschutz-Grundverordnung (DSGVO) ist:<br><br>
                    Nils Matthäi<br>
                    Moltkestraße 30, 76133 Karlsruhe<br>
                    <a href="https://schmoutlook.eu">datenschmutz@schmoutlook.de</a><br><br>
                </p>
                <p>
                    <b>2. Erhebung und Verwendung von personenbezogenen Daten</b><br><br>
                    Personenbezogene Daten sind Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen. Wir erheben und verwenden personenbezogene Daten nur, soweit dies zur Bereitstellung unserer Website und unserer Dienste erforderlich ist oder Sie uns Ihre Einwilligung dazu gegeben haben.<br><br>
                </p>
                <p>    
                    <b>2.1 Besuch unserer Website</b><br><br>
                    Bei jedem Besuch unserer Website erheben und speichern wir automatisch Informationen, die Ihr Browser an uns übermittelt. Diese Informationen umfassen:<br><br>
                     - Browsertyp und Browserversion<br>
                     - Betriebssystem des Nutzers<br>
                     - Referrer URL (die zuvor besuchte Seite)<br>
                     - Hostname des zugreifenden Rechners<br>
                     - Uhrzeit der Serveranfrage<br>
                     - IP-Adresse<br><br>
                    Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.<br><br>
                </p> 
                <p>   
                    <b>2.2 Kontaktaufnahme</b><br><br>
                    Wenn Sie uns per E-Mail kontaktieren, speichern wir Ihre Kontaktdaten und Ihre Anfrage zur Bearbeitung der Anfrage und für den Fall von Anschlussfragen.<br><br>
                </p>    
                    <b>3. Cookies</b><br><br>
                    Unsere Website verwendet Cookies, um die Nutzung der Website für Sie einfacher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Endgerät gespeichert werden und die Ihr Browser speichert. Cookies ermöglichen es uns, Ihren Browser bei Ihrem nächsten Besuch wiederzuerkennen.<br><br>
                    Sie können die Verwendung von Cookies in Ihren Browsereinstellungen jederzeit deaktivieren. Bitte beachten Sie jedoch, dass Sie in diesem Fall möglicherweise nicht alle Funktionen unserer Website nutzen können.<br><br>
                </p>
                <p>
                    <b>4. Datensicherheit</b> <br><br>
                    Wir setzen technische und organisatorische Maßnahmen ein, um Ihre personenbezogenen Daten vor Verlust oder unbefugtem Zugriff zu schützen. Wir aktualisieren und überprüfen unsere Sicherheitsmaßnahmen regelmäßig, um einen bestmöglichen Schutz Ihrer Daten zu gewährleisten.<br><br>
                </p>
                <p>
                    <b>4.0.5 Bloat</b> <br><br>
                    Wir legen großen Wert auf eine schlank gehaltene Website ohne unnötigen Bloat. Wir verzichten daher auf den Einsatz von Plug-Ins oder anderen Funktionen, die Ihre Daten erheben und verarbeiten könnten. Durch diese Maßnahmen stellen wir sicher, dass wir nur die Daten erheben und verarbeiten, die für den Betrieb unserer Website notwendig sind.<br><br>
                </p>
                <p>
                    <b>5. Ihre Rechte</b> <br><br>
                    Sie haben das Recht auf Auskunft über die bei uns gespeicherten personenbezogenen Daten sowie auf Berichtigung, Löschung oder Einschränkung der Verarbeitung dieser Daten. Darüber hinaus haben Sie das Recht, Ihre Einwilligung zur Verarbeitung Ihrer personenbezogenen Daten jederzeit zu widerrufen.<br><br>
                </p>
                <p>
                    <b>6. Änderungen der Datenschutzerklärung</b> <br><br>
                    Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern, um sie an Änderungen der gesetzlichen Bestimmungen oder der Art und Weise anzupassen, wie wir personenbezogene Daten verarbeiten. Die jeweils aktuelle Datenschutzerklärung ist auf unserer Website einzusehen.
                </p>
            </div>
        </section>
      </main>

      <footer class="footer" id="footer">
        <span>(c) 2023 HKA_IWI_VSYS</span>
        <nav class="footer__navigation right">
            <a href="/imprint">Imprint</a> | <a href="/privacy">Privacy policy</a>
        </nav>
        <img src="./images/logo.png" class="footer__image right" />
      </footer>
</body>

</html>
